

/* index.html */
html, body {
    margin: 0;
    background-color: rgb(234, 237, 237);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.page-container {
    display: flex; 
    flex-direction: column; 
    min-height: 100%; 
}

.content {
    flex: 1;
    
}
/* Header CSS */
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: lightcyan;
}

.nav-links {
    list-style-type: none;
    display: flex;
}

.nav-links li a {
    padding: 10px;
    text-decoration: none;
    
}

.header__logo img {
    height: 50px;
}


/* General Styles */
.page-container {
    max-width: 1200px;
    margin: 0 auto;
}




/* Products Section Styles */
.products h1 {
    text-align: center;
    padding: 20px;
}

#products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive grid */
    gap: 20px;
    padding: 20px;
}

.product-item {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.product-item img {
    max-width: 100%;
    height: auto;
}



/* Specifically for the price */
.product-item p:first-of-type {
    font-weight: bold;
    color: #1a1a1a;

    margin-bottom: 10px;

}

.mdc-touch-target-wrapper {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.mdc-touch-target-wrapper {
    text-align: center;
}



.mdc-button--touch  {
    background-color: #4CAF50;
    color: white;
}

.mdc-button:hover {
    background-color: #367C39;
}

.mdc-button--touch {
    padding: 12px 24px;
}



/* Blog CSS */
.blog-banner {
    width: 100%;
    height: 50vh;
    overflow: hidden;
    position: relative;
}

.blog-banner img {
    width: 100%;
    height: 500px;
    object-fit: cover; 
    position: absolute;
    top: 0;
    left: 0;
}

.blog-banner h1, .blog-banner p {
    position: relative;
    z-index: 1; 
    max-width: 1200px;
    margin: 0 auto;
   
    
}


.blog-posts {
    max-width: 800px; 
    margin: auto;
}


.blog-post {
    margin-bottom: 20px;
    text-align: center;
    
}

.blog-post p {
    text-align: justify;
    line-height: 1.6;
    margin-bottom: 15px;
    font-size: 16px;
    font-family: "arial", sans-serif; 
}



/* About CSS */
.about-us {
    text-align: center;
    padding: 20px;
}

.about-us-image {
    width: 100%;
    max-width: 600px; 
    margin: 20px auto;
    display: block;
}

.about-us-content h2 {
    color: #333;
    font-size: 24px;
    margin-top: 20px;
}

.about-us-content p {
    color: #666;
    font-size: 16px;
    line-height: 1.6;
    text-align: left;
    margin: 10px 0;
}






/* Footer CSS */
.footer {
    background-color: lightcyan;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer__social-media a {
    margin: 0 10px;
    font-size: 24px; 
    transition: color 0.3s ease;
}

.footer__social-media a:hover {
    color: #4CAF50; 
}

.footer__text {
    margin-top: 10px;
    font-size: 16px;
}



/* Media Queries AND RESPONSIVENESS */
@media screen and (max-width: 600px) {
    nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    .header {
        display: grid;
        grid-template-columns: 250px;
    }

    .header__navLinks {
        display: grid;
        grid-template-columns: 250px;
        margin-left: 10px;
    }

    .header__logo {
        display: grid;
        grid-template-columns: 250px;
        margin-left: 10px;
    }

    .header__logoTitle {
        display: grid;
        grid-template-columns: 250px;
        margin-left: 5px;
    }




}