

/* index.html */
html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.page-container {
    display: flex; 
    flex-direction: column; 
    min-height: 100%; 
}

.content {
    flex: 1;
    
}
/* Header CSS */
.header {
    display: flex;
    align-items: center;
    background-color: #131921;
    color: white;
    padding: 10px;
}

.header__logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header__logoImage {
    font-size: 30px;
    margin-right: 10px;
}

.header__logoTitle {
    font-size: 24px;
}

.header__search {
    display: flex;
    flex-grow: 1;
    margin: 0 20px;
}

.header__searchInput {
    height: 30px;
    padding: 10px;
    border: none;
    width: 100%;
}

.header__searchIcon {
    padding: 5px;
    background-color: #cd9042;
    cursor: pointer;
}

.header__nav {
    display: flex;
}

.nav__item {
    margin-left: 20px;
    cursor: pointer;
}

.nav__itemBasket {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nav__basketCount {
    margin-left: 10px;
}

.header__navLinks {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.nav__link {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav__link:hover {
    color: #cd9042;
}

.hero-container {
    width: 100%;
    height: 50vh;
    overflow: hidden;
    position: relative;
}

.hero-container img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



/* Products CSS */
#products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    padding: 20px;
}

.product-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

.product-item h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
}

.product-item p {
    color: #666;
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 10px;
}

/* Specifically for the price */
.product-item p:first-of-type {
    font-weight: bold;
    color: #1a1a1a;

    margin-bottom: 10px;

}

.mdc-button {
    background-color: #4CAF50;
    color: white;
}

.mdc-button:hover {
    background-color: #367C39;
}

.mdc-button--touch {
    padding: 12px 24px;
}

#newsletter {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}


/* Footer CSS */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer__social-media a {
    color: white;
    margin: 0 10px;
    font-size: 24px; 
    transition: color 0.3s ease;
}

.footer__social-media a:hover {
    color: #4CAF50; 
}

.footer__text {
    margin-top: 10px;
    font-size: 16px;
}



/* Media Queries AND RESPONSIVENESS */
@media screen and (max-width: 600px) {
    nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    .header {
        display: grid;
        grid-template-columns: 250px;
    }

    .header__navLinks {
        display: grid;
        grid-template-columns: 250px;
        margin-left: 10px;
    }

    .header__logo {
        display: grid;
        grid-template-columns: 250px;
        margin-left: 10px;
    }

    .header__logoTitle {
        display: grid;
        grid-template-columns: 250px;
        margin-left: 5px;
    }




}